<main class="flexbox">
    <mat-card class="main-card">
        <mat-card-header>
        <mat-card-title>Turnék</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <div class="tour-selection form-row">
                <mat-form-field appearance="outline" class="input">
                    <mat-label>Turné</mat-label>
                    <input #input
                            type="text"
                            matInput
                            [(ngModel)]="selectedTour"
                            [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        @for (option of tourNames; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>

                <button mat-flat-button color="primary" (click)="refreshTour()" class="update-button">Turné frissítése</button>
            </div>

        <mat-card-title>{{ title }}</mat-card-title>
        @if (isLoggedIn) {
        <form [formGroup]="concertForm" (ngSubmit)="addConcert()" class="form">
            <div class="form-row">
            <mat-form-field appearance="outline" class="input">
                <mat-label>Koncert helye (település)</mat-label>
                <input matInput formControlName="place">
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="priority-select">
                <mat-label>Turné</mat-label>
                <mat-select formControlName="tour">
                    @for (tour of tours; track $index) {
                        <mat-option [value]="$index">{{tour.title}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            </div>
            
            <div class="form-row">
            <mat-form-field appearance="outline" class="date-picker">
                <mat-label>Koncert dátuma</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="concertDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <button mat-flat-button color="primary" type="submit" class="add-button">Koncert hozzáadása</button>
            </div>
            
            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Koncert helyszíne</mat-label>
            <input matInput formControlName="venue">
            </mat-form-field>
        </form>
        }

        <div class="table-container">
            <table mat-table [dataSource]="concerts" class="table" id="concerts-table">
                <ng-container matColumnDef="venue">
                    <th mat-header-cell *matHeaderCellDef>Helyszín</th>
                    <td mat-cell *matCellDef="let concert">
                    <div>{{ concert.venue }}</div>
                    </td>
                </ng-container>
            
            <ng-container matColumnDef="place">
                <th mat-header-cell *matHeaderCellDef>Hely</th>
                    <td mat-cell *matCellDef="let concert">
                    <div>{{ concert.place }}</div>
                    </td>
            </ng-container>
            
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Dátum</th>
                <td mat-cell *matCellDef="let concert">
                {{ concert.date | concertDateFormatter }}
                </td>
            </ng-container>
            
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">Műveletek</th>
                <td mat-cell *matCellDef="let concert">
                    <button mat-icon-button color="primary" aria-label="Edit concert" (click)="editConcert(concert)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="delete-action">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Műveletek</th>
                <td mat-cell *matCellDef="let concert">
                    <button mat-icon-button color="primary" aria-label="Delete concert" (click)="deleteConcert(concert)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5">A jelenlegi turnéban nem érhető el koncert.</td>
            </tr>
            </table>
        </div>
        </mat-card-content>
  </mat-card>
</main>