<div class="not-found-container">
    <mat-card class="not-found-card">
      <mat-card-content>
        <div class="not-found-content">
          <mat-icon class="not-found-icon">error_outline</mat-icon>
          <h1>Hiba: 404</h1>
          <h1>Az oldal nem található</h1>
          <p>A keresett oldal nem létezik vagy megváltozott.</p>
          <button mat-raised-button color="primary" [routerLink]="['/home']" routerLinkActive="active">
            <mat-icon>home</mat-icon>
            Vissza a kezdőlapra
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>