<main class="flexbox">
    <div class="container">
        <h1>WebDev String Orchestra</h1>
    </div>
    <div class="container">
        <p>This is some base introduction text. Lorem ipsum could be used for this but I won't use that.</p>
    </div>
    <div class="container">
        <h2>TODO</h2>
        <p>Create unique design</p>
        <p>Attribute directives</p>
        <p>Responsive design</p>
    </div>

    <mat-card class="main-card">
      <mat-card-header>
        <mat-card-title>{{ cardTitle }}</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>

      <!-- @if (isLoggedIn) { -->
        <form [formGroup]="postForm" (ngSubmit)="addPost()" class="form">
            <div class="form-row">
            <mat-form-field appearance="outline" class="post-title-input">
                <mat-label>Post title</mat-label>
                <input matInput formControlName="title" placeholder="Title">
            </mat-form-field>
            
            <button mat-flat-button color="primary" type="submit" class="add-button">Add Post</button>
            </div>
            
            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Post content</mat-label>
            <input matInput formControlName="content" placeholder="Content">
            </mat-form-field>
        </form>
      <!-- } -->
      
      <div class="container">
        <div class="button-group">
            <button (click)="isExpanded = 'not-expanded'" [ngClass]="{'active': isExpanded === 'not-expanded'}">-</button>
            <button (click)="isExpanded = 'expanded'" [ngClass]="{'active': isExpanded === 'expanded'}">+</button>
        </div>

        <div [ngClass]="isExpanded" class="container">
            @for (post of posts; track $index) {
                    <mat-card class="post-card">
                        <mat-card-header>
                            <mat-card-title>{{ post.title }}</mat-card-title>
                        </mat-card-header>
                        
                        <mat-card-content>
                            <div class="post-text">
                                {{ post.content }}
                            </div>
                            <mat-divider></mat-divider>
                        </mat-card-content>

                        <mat-card-footer>
                            <p>{{ post.postedBy.name.lastName }} {{post.postedBy.name.firstName}}</p>
                            <p>{{ post.date | postDateFormatter}}</p>
                        </mat-card-footer>
                    </mat-card>
            }
        </div>
    </div>
      </mat-card-content>
</mat-card>
</main>